<div class="column">
  <div class="card">
    <div class="card-content">
      <p class="title">
        <% if show_link %>
          <%= link_to book.title, book %>
        <% else %>
          <%= book.title %>
        <% end %>
      </p>
      <p>Price: <%= number_to_currency book.price / 100.0 %></p>
    </div>


      <%= form_with url: cart_index_path, method: :post do %>
        <%= hidden_field_tag(:id, book.id)%>
        <%= button_tag 'Add to Cart'%>
      <% end %>

      <% if cart.include?(book) %>
        <%= button_to cart_path(book), method: :delete do %>
          Remove From Cart
        <% end %>
      <% end %>


    <footer class="card-footer">
      <p class="card-footer-item">
        Author: <br><%= book.author %>
      </p>
      <p class="card-footer-item">
        Publisher: <br><%= book.publisher %>
      </p>
      <p class="card-footer-item">Genre: <%= link_to book.genre.name, book.genre %></p>

    </footer>
  </div>

</div>